<div>
	<h2>{{client[0].name}} </h2>
	<b>Primary Contact: <b>{{client[0].contact}}

	<h3>Mood Summary</h3>
	<ul class="list-inline">
        <li ng-repeat="mood in clientMood"> 	
            <img class="emotIcon" ng-src="img/{{mood['mood.name']}}.png"/> count: {{mood.count}}
        </li>        
    </ul>
    <b>Overall positivity: {{overallClientMood | number : 0}}%</b>

    <div class="table-responsive">
    	<table class="table table-hover">
    		<thead>
       		 <tr>
           	 	<th>Name</th>
            	<th>Email</th>
            	<th>Phone</th>
            	<th>Engagement</th>            
        	</tr>
   		 </thead>
   		 <tbody ng-repeat="consultant in clientConsultants" ng-click="viewConsultant(consultant.email)">
   		 	 <tr>
            	<td>
                	{{consultant.firstname}} {{consultant.lastName}}
            	</td>
             	<td>
                	{{consultant.email}}
            	</td>
             	<td>
                	{{consultant.phone}}
            	</td>          
            	<td>
                	{{consultant.engagementName}}
            	</td>
        	</tr>
         </tbody>

        </table>  
	</div>
</div>