<div ng-controller="SearchController">
	<div class"panel panel-default">
		<div class="form-group">
		    <label for="selected">What are you searching for?</label>
		    <div class="span12">
		      	<select name="selected" class="form-control" ng-model="selected" ng-options="s.field for s in searchList"></select>
		    </div>
		</div>
		<div class="form-group">
		    <label for="value">Value</label>
		    <div class="span12">
			    <input name="value" type="text" class="form-control search-query" ng-model="value">
		    </div>
		</div> 
		<div class="form-group">
		    <div class="span12">
				<button type="submit" ng-click="search(selected,value)" class="btn btn-primary">Search</button>
		    </div>
		</div>  	
	</div>

	<div class="panel panel-default" ng-show="isViewForConsultant()" ng-repeat="item in searchResults">
		<div class="panel-body">
			<a href="" ng-click="viewConsutlant(item.email)">{{item.firstName}} {{item.lastName}}<br/>

			{{item.client}}
		</div>
	</div>

</div>
