body{
	background-color: #DDD;
}

.container{
	background-color: #FFF;
	padding: 1em;
}

.moodinput{
	position: absolute;
	left: -9999;
}

.emotIcon{
	max-width: 3em;
	min-width: 3em;
	border-radius: 1.5em;
}

input[type="radio"]:checked + img{
	background-color: #ACC;

}

.notification {
	position: absolute;
	left: 20;
	right: 20;
}

.no-margin {
	margin: 0;
}
