body{
	background-color: #EEE;
	color: #666;
}

.truncate {
  white-space:nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.container{
	background-color: #FFF;
	padding: 1em;
}

.moodinput{
	position: absolute;
	left: -9999;
}

.emotIcon{
	max-width: 3em;
	min-width: 3em;
	border-radius: 1.5em;
	transition: all 0.5s ease;
}

input[type="radio"]:checked + img{
	background-color: #75A3D1;

}

.notification {
	position: absolute;
	z-index: 1;
	width: 80%;
	margin: auto;
	left: 20px;
	right: 20px;
}

.no-margin {
	margin: 0;
}

.logoimg{
	margin: -1em;
	max-height: 50px;
	padding-right: 1em;
}

#moodList{
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul#moodList li:nth-child(odd) {
	background-color:#E8E8E8;
}

ul#moodList li:nth-child(even) {
	background-color:#FFF;
}

.moodItem{
	padding: 0.5em;
	min-height: 20px;
}

.border-row {
	margin-top: 3em;
	margin-bottom: 3em;
    border-bottom: 3px solid #E8E8E8;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
